name: AIRMAN CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  backend:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install backend deps
        run: |
          cd backend
          pip install -r requirements.txt

      - name: Run lint
        run: |
          pip install flake8
          flake8 backend

      - name: Run backend tests
        run: |
          cd backend
          pytest


  frontend:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install frontend deps
        run: |
          cd frontend/maverick-lite
          npm install

      - name: Build frontend
        run: |
          cd frontend/maverick-lite
          npm run build